/* IMPORTS */

@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono');

/* PSEUDO-ELEMENTS STYLES */

::-webkit-scrollbar{
	width: 8px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb {
  background: #6a6a6a;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
} 

/* ANIMATIONS */



/* TAG ONLY STYLES */

*{
	margin: 0;
	padding: 0;
	font-family: 'Share Tech Mono', monospace;
}

html{
	scroll-behavior: smooth;
}

/* navbar */

nav{
	opacity: 0;
	transition: opacity .5s ease-out;
	width: 100%;
	height: 9vh;
	position: fixed;
	display: flex;
	
	color: #eee;
	background-color: rgba(70,70,70,0.8);
	
	z-index: 1;
}

nav:hover{
	opacity: 1;
}

nav *{
	padding: 12px;
}

.brand{
	font-size: 28px;
	letter-spacing: 3px;
	align-self: center; 
}

#menu{
	margin-left: auto;
	font-size: 21px;
	display: inline-flex;
	list-style-type: none;
}

#menu li{
	display: flex;
	float: right;
	align-self: center;
}

/* section */
section{
	padding-top: 10px;
	color: #333;
	background: #eee;
	height: 100vh;
}

section h1{
	padding: 18px 0 9px 0;
	text-align: center;
	font-size: 34px;
}

/* link */
a{
	color: #eee;
	text-decoration: none;
}

a:hover , a:active{
	color: #bbb;
}

/* footer */
footer{
	height: 15vh;
	background-color: #444;
}

/* CLASS ONLY STYLES */



/* ID ONLY STYLES */

#title{
	background-image: url('../img/bg-title.webp');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}

#title h1{
	margin: auto;
	padding: 20%;
	position: static;

	width: auto;
	color: #fff;
	font-size: 60px;
	letter-spacing: 8px;
	z-index: 1;
}

#content{
	margin: 12px;
	display: inline-flex;
	font-size: 20px;
}

